<div class="navbar-text" style="display: flex; border-style: solid; padding-right: 10px; padding-left: 10px;">
	<div>
		<p style="padding-right: 10px; padding-left: 10px;"><b>PrintFarmer Activated</b></p>
	</div>
	<div style="flex-grow: 1;">
		<a href="{{ plugin_printfarmer_url }}">CustomButton!</a>
	</div>
</div>

